<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
				initial-scale=1.0">
    <title>Edit Profil</title>
    <link rel="stylesheet" href="/stylesheet/ubahprofil.css" />
</head>

<body>
    <header>

        <div class="logosec">
            <div class="logo">I-Sign</div>
        </div>

        <div class="profilee-wrapper">
            <div class="profilee">
                <img src="/asset/Profilee.png" class="dpicn" alt="dp">
            </div>
        </div>
    </header>
    <div class="main-container">
        <div class="navcontainer">
            <nav class="nav">
                <div class="nav-upper-options">
                    <div class="nav-option option1">
                        <img src="/asset/Home.png" class="nav-img" alt="dashboard">
                        <a class="navigasi" href="dashboard2.html">
                            <h3> Dashboard</h3>
                        </a>
                    </div>

                    <div class="nav-option option2">
                        <img src="/asset/Profile.png" class="nav-img" alt="profile">
                        <a href="profil.html">
                            <h3>Profile</h3>
                        </a>
                    </div>

                    <div class="nav-option option3">
                        <img src="/asset/Paper.png" class="nav-img" alt="task">
                        <a href="task1.html">
                            <h3>Task</h3>
                        </a>
                    </div>

                    <div class="nav-option option4">
                        <img src="/asset/Notification.png" class="nav-img" alt="notification">
                        <a href="notif.html">
                            <h3>Notification</h3>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="container">
            <div class="main-body">
                <div class="row1 gutters-sm">
                    <div class="col-mb-4 mb-3">
                        <div class="card">
                            <form action="/edit-profil" enctype="multipart/form-data" method="post">
                            <div class="card-body">
                                <div class="profile-box">
                                    <div class="avatar-upload">
                                        <div class="avatar-edit">
                                            <input type='file' required name="avatar" id="imageUpload" />
                                            <label for="imageUpload"></label>
                                        </div>
                                        <div class="avatar-preview">
                                            <div id="imagePreview" style="background-image: url('/asset/Profilee.png');">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h4 class="mb-0">User Name</h4>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" name="username" class="form-control" value="<%= username %>">
                                    </div>
                                </div>
                                <!-- <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h4 class="mb-0">NIM</h4>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" class="form-control" value="2111521023">
                                    </div>
                                </div> -->
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h4 class="mb-0">Email</h4>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" class="form-control" name="email" value="<%= email %>">
                                    </div>
                                </div>
                                <!-- <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h4 class="mb-0">Password</h4>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" class="form-control" name="password">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h4 class="mb-0">New Password</h4>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" class="form-control" name="">
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="submit" class="btn btn-primary px-4" value="Save Changes">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>


    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>