<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,
				initial-scale=1.0">
	<title>Dashboard</title>
	<link rel="stylesheet" href="/stylesheet/dashboard2.css">

</head>

<body>

	<header>

		<div class="logosec">
			<div class="logo">I-Sign</div>
		</div>
		<div class="profilee-wrapper">
			<div class="profilee">
				<img src="/asset/Profilee.png" class="dpicn" alt="dp">
			</div>
		</div>
	</header>

	<div class="main-container">
		<div class="navcontainer">
			<nav class="nav">
				<div class="nav-upper-options">
					<div class="nav-option option1">
						<img src="/asset/Home.png" class="nav-img" alt="dashboard">
						<a class="=navigasi" href="/">
							<h3> Dashboard</h3>
						</a>

					</div>

					<div class="nav-option option2">
						<img src="/asset/Profile.png" class="nav-img" alt="profile">
						<a href="/profil">
							<h3>Profile</h3>
						</a>

					</div>

					<div class="nav-option option3">
						<img src="/asset/Paper.png" class="nav-img" alt="task">
						<a href="/pengumuman">
							<h3>Task</h3>
						</a>


					</div>


					<div class="nav-option option4">
						<img src="/asset/Notification.png" class="nav-img" alt="notification">
						<a href="/notifikasi">
							<h3>Notification</h3>
						</a>


					</div>
				</div>
			</nav>
		</div>
		<div class="main">
			<div class="box-container">
				<div class="announcement-container">
					<div class="announcement-header">
						<h1 class="announcement">Announcement</h1>
					</div>
					<div class="announcement-body">
						<h3 class="t-op">From : Sukina, MT</h3>
						<p>
							Mengupload pada mata kuliah Basis Data : “Review Bab 1” <br />
							Deadline : 24 April 2023

							<br /><br />
						<h3 class="t-op">From : Yuliana, S.Kom</h3>
						Kelas A Sistem Informasi Angkatan 21 dipindahkan ke Audit <br />
						pada 20 Maret 2023
						</p>
					</div>
				</div>
				<div class="reminder-container">
					<div class="reminder-header">
						<h1 class="reminder">Reminder</h1>
					</div>
					<div class="reminder-body">
						<p>
							No current reminders
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>